@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f9f9fe;
    color: #1a1c1f;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar { 
    display: none; 
  }
  .hide-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  .coastal-gradient {
    background: linear-gradient(180deg, rgba(0,30,64,0) 0%, rgba(0,30,64,0.8) 100%);
  }
}
